.page-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 10rem 0 13rem;

  @include media-tablet-lg {
    margin: 50px 0;
  }

  &__title {
    margin-bottom: 3rem;
    text-align: center;
  }

  &__img {
    margin-bottom: 3rem;
  }
}
