.page-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 10.2rem;
  padding-bottom: 13.4rem;

  &__title {
    margin-bottom: 3rem;
  }

  &__img {
    margin-bottom: 3rem;
  }
}
