// Breakpoints
$media-xxl: 1399.98px;
$media-xl: 1199.98px;
$media-lg: 991.98px;
$media-md: 767.98px;
$media-sm: 575.98px;
$media-xs: 480.98px;
// Colors
$color-primary-alpha: #212121;
$color-primary-beta: #1662fb;
$color-primary-gamma: #777777;
$color-primary-psi: #fff;
$color-primary-omega: #c8c8c8;

$color-secondary-alpha: #000;
$color-secondary-beta: #fb1616;
$color-secondary-gamma: #202525;
$color-secondary-psi: #a0a0a0;
$color-secondary-omega: #3d7bf8;

$color-tertiary-alpha: #e5e7ef;
$color-tertiary-beta: #979797;
$color-tertiary-gamma: #21ca46;
// Fonts
$font-primary: 'Rubik', sans-serif;
