footer.footer
  .container
    .footer__inner
      .footer__info
        p ИП Теряев Павел Иванович УНП691733898 св-во 0728699 выдано Жодинским Исполкомом 24 апреля.
        p Сайт activate.by зарегистрирован в Торговом реестре РБ №494412
      +icon('footer__icon', 'webpay')
