header.header
  .container
    .header__inner
      .header__group
        a.header__logo-link(href="index.html" aria-label="Главная")
          img.header__logo(src="images/common/logo.png", width="80", height="80" alt="activate.by")
        button#burger.burger(aria-label="Бургер-меню")
          span
        form.header__search(name="search", method="GET", action="#")
          input.header__search-input(name="search-input", type="text", placeholder="Поиск", required)
          button.header__search-button(aria-label="Поиск")
            +icon('header__search-icon', 'search')
      .header__group
        nav#menu.header__menu
          ul.header__menu-list
            li.header__menu-item
              a.header__menu-link(href="catalog.html") Каталог
              +icon('header__menu-arrow', 'arrow-down')
              ul.header__menu-sublist
                +categories('header__menu-subitem', 'header__menu-sublink')
            li.header__menu-item
              a.header__menu-link(href="about.html") О нас
            li.header__menu-item
              a.header__menu-link(href="faq.html") FAQ
            li.header__menu-item
              a.header__menu-link(href="#contacts") Контакты
        button#cart-button.header__cart(aria-label="Корзина" data-modal-target="cart")
          +icon('header__cart-icon', 'cart')
          span.header__cart-count 1
