header.header
  .container
    .header__inner
      .header__group
        a.header__logo-link(href="index.html" aria-label="Главная")
          img.header__logo(src="images/common/logo.png", alt="activate.by")
        form.header__search(name="search", method="GET", action="#")
          input.header__search-input(name="search-input", type="text", placeholder="Поиск", required)
          +icon('header__search-icon', 'search')
      .header__group
        nav.header__menu
          ul
            li
              a(href="catalog.html") Каталог
            li
              a(href="about.html") О нас
            li
              a(href="faq.html") FAQ
            li
              a(href="#") Контакты
        button#cart-button.header__cart(aria-label="Корзина" data-modal-target="cart")
          +icon('header__cart-icon', 'cart')
