doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      meta(name="description" content="Приобрести лицензионные ключи активации")
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")
      link(rel="preconnect" href="https://fonts.googleapis.com")
      link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet")
      link(rel="stylesheet" href="css/style.min.css")
      block title
        title Activate.by
  body
    include ../includes/common/mixins
    block header
      include header
    .page
      block content
      block footer
        include footer
    block scripts
      script(src='scripts/main.min.js')
