.catalog {
  margin: 10rem 0 8rem;

  @include media-tablet-lg {
    margin: 50px 0;
  }
}

.catalog__inner {
  display: flex;
  justify-content: space-between;
}

.catalog__filters {
  min-width: 31rem;

  margin-right: 20px;

  background-color: $color-primary-psi;

  @include media-tablet-sm {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    z-index: 10;

    animation: fadeIn 0.2s ease-in-out;
  }

  &-top {
    position: relative;
  }

  &-wrapper {
    position: relative;

    @include media-tablet-sm {
      overflow-y: auto;
      max-height: calc(100vh - 5px);
      padding-left: 15px;
      padding-top: 20px;
    }
  }

  &.active {
    display: block;
  }

  &-close {
    display: none;

    position: absolute;

    top: 27px;
    right: 15px;

    stroke: $color-primary-alpha;

    @include media-tablet-sm {
      display: block;
    }

    &-icon {
      width: 20px;
      height: 20px;
    }
  }

  &-reset {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 14px;

    transition: color 0.1s linear;

    &::after {
      content: '';

      display: block;

      width: 100%;
      height: 1px;

      margin-top: 5px;

      background-color: $color-primary-alpha;

      transition: background-color 0.1s linear;
    }

    &:hover {
      color: $color-primary-beta;

      &::after {
        background-color: $color-primary-beta;
      }
    }

    @include media-tablet-lg {
      display: none;
    }
  }

  &-group {
    background-color: $color-primary-psi;

    &:not(:last-of-type) {
      margin-bottom: 6rem;
    }

    @include media-tablet-sm {
      &.categories {
        display: none;
      }

      &:not(:last-of-type) {
        margin-bottom: 25px;
      }
    }
  }

  &-title {
    font-size: 3rem;

    margin-bottom: 3rem;
  }

  &-links {
    li {
      &:not(:last-of-type) {
        margin-bottom: 15px;
      }
    }

    a {
      text-transform: uppercase;
      color: $color-primary-alpha;
      font-size: 1.8rem;

      transition: color 0.1s linear;

      &.current,
      &:hover {
        color: $color-primary-beta;
      }
    }
  }

  &-details {
    margin-bottom: 4rem;

    @include media-tablet-lg {
      &:not(:last-of-type) {
        margin-bottom: 15px;
      }
    }

    &[open] {
      .catalog__filters-summary {
        span {
          color: $color-primary-beta;
        }

        &-icon {
          transform: rotate(90deg);
          fill: $color-primary-beta;
        }
      }

      .catalog__filters-inputs {
        animation: slideIn 0.3s ease-in-out;
      }
    }
  }

  &-inputs {
    margin-top: 3rem;

    @include media-tablet-lg {
      margin-top: 20px;
    }
  }

  &-label {
    position: relative;

    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }

    cursor: pointer;
  }

  &-checkbox {
    position: absolute;
    opacity: 0;
  }

  &-checkbox-styled {
    position: relative;

    display: inline-block;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 10px;

    min-width: 15px;
    min-height: 15px;

    transition: opacity 0.1s linear;

    border: 1px solid $color-secondary-alpha;

    &::before {
      display: block;

      content: '';

      width: 11px;
      height: 11px;

      opacity: 0;
      background-color: $color-primary-beta;
    }
  }

  &-checkbox:checked + &-checkbox-styled::before {
    opacity: 1;
  }

  &-checkbox-txt {
    user-select: none;

    font-size: 1.8rem;
    letter-spacing: 0.5px;
    color: $color-secondary-alpha;
  }

  &-summary {
    .catalog__filters-title {
      transition: color 0.1s linear;
    }
  }

  &-summary-icon {
    width: 13px;
    height: 8px;

    margin-bottom: 5px;
    margin-right: 15px;

    vertical-align: middle;

    transition: transform 0.1s linear;
  }

  &-item {
    margin-bottom: 7rem;
  }

  &-slider {
    height: 4px;
    border: 1px solid $color-tertiary-alpha;

    margin-right: 3px;

    box-shadow: 0px 5px 8px rgba(82, 82, 82, 0.07);
    border-radius: 4px;

    @include media-tablet-lg {
      max-width: 290px;
      margin-left: 5px;
    }

    .noUi-tooltip {
      position: absolute;
      top: 25px;
      left: 0;
      white-space: nowrap;
      user-select: none;
    }

    .noUi-connects {
      border-radius: 3px;
      overflow: hidden;
      z-index: 0;
    }

    .noUi-base,
    .noUi-connects {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .noUi-connect {
      background: $color-primary-beta;
      height: 100%;
      width: 100%;
      right: 0;
    }

    .noUi-origin {
      height: 10%;
      width: 10%;
      right: -25px;
    }

    .noUi-connect,
    .noUi-origin {
      will-change: transform;
      position: absolute;
      z-index: 1;
      top: 0;

      transform-origin: 0 0;
      transform-style: flat;
    }

    .noUi-horizontal .noUi-handle {
      width: 34px;
      height: 28px;
      right: -17px;
      top: -6px;
    }

    .noUi-handle {
      position: relative;

      top: -5px;

      width: 10px;
      height: 10px;

      background-color: $color-primary-alpha;
      border-radius: 50%;

      cursor: pointer;
    }
  }
}

.catalog__content {
  display: flex;
  flex-direction: column;
  flex: 1;

  &-top {
    display: none;

    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;

    @include media-tablet-sm {
      display: flex;
    }
  }

  &-title {
    font-size: 25px;
  }

  &-button {
    &-icon {
      width: 18px;
      height: 18px;

      fill: $color-primary-alpha;
    }
  }
}

.catalog__items {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 2rem;

  @include media-laptop {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-smartphone-lg {
    grid-template-columns: repeat(1, 1fr);
  }
}

.catalog__sort {
  align-self: flex-end;

  @include media-tablet-sm {
    align-self: unset;
  }

  select {
    margin-bottom: 3rem;
    padding: 8px 35px 8px 20px;

    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: $color-secondary-gamma;

    border: 1px solid $color-tertiary-omega;
    border-radius: 4px;

    background-image: url('data:image/svg+xml, %3Csvg%20width%3D%229%22%20height%3D%225%22%20viewBox%3D%220%200%209%205%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M1.19022%200.202466C1.45309%20-0.0633869%201.88264%20-0.0628262%202.14482%200.203712L4.70891%202.81042C4.71728%202.81894%204.73102%202.81894%204.73939%202.81042L7.30348%200.203712C7.56566%20-0.0628266%207.99521%20-0.0633869%208.25808%200.202466C8.51633%200.463638%208.51633%200.883988%208.25808%201.14516L4.76465%204.67816C4.74236%204.70071%204.70595%204.70071%204.68365%204.67816L1.19022%201.14516C0.931972%200.883988%200.931971%200.463638%201.19022%200.202466Z%22%20fill%3D%22%23202525%22%2F%3E%0A%3C%2Fsvg%3E');
    background-position: calc(100% - 1.75rem) calc(100% - 1.4rem);
    background-repeat: no-repeat;

    option {
      padding: 10px 0;
    }
  }
}
