.cart {
  position: fixed;

  z-index: 11;

  top: 50%;
  left: 50%;

  max-width: 860px;
  width: 100%;

  padding: 4rem;

  transform: translate(-50%, -50%);

  opacity: 0;

  pointer-events: none;

  transition: opacity 0.1s ease-in;

  overflow: hidden;
  visibility: hidden;

  background-color: $color-primary-psi;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  max-height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;

  @include media-tablet-lg {
    max-width: 95vw;
    max-height: 85vh;

    padding: 20px;
  }

  &.active {
    pointer-events: all;

    opacity: 1;
    visibility: visible;
  }

  &__title {
    font-size: 2.5rem;

    margin-bottom: 2rem;

    &--marginless {
      margin-bottom: 0;
    }
  }

  &__order {
    position: relative;

    margin-bottom: 2rem;

    .product-counter {
      margin-bottom: 0;

      @include media-tablet-sm {
        flex-direction: column;
        align-items: center;
      }

      &__group {
        margin-right: 0;

        @include media-tablet-sm {
          margin-right: 0;
        }
      }

      &__price {
        font-size: 2.2rem;
        font-weight: 500;

        @include media-tablet-lg {
          min-width: unset;
        }

        @include media-tablet-sm {
          order: -1;

          margin-bottom: 10px;
        }
      }

      &__control {
        min-height: 35px;
        min-width: 35px;
      }

      &__count {
        font-size: 2rem;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 2rem;

      border: 1px solid $color-tertiary-alpha;
      box-shadow: 0px 5px 8px rgba(82, 82, 82, 0.07);
      border-radius: 4px;

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

      @include media-tablet-sm {
        flex-direction: column;
      }

      &-link {
        position: absolute;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &-info {
        position: relative;

        display: flex;
        align-items: center;

        @include media-tablet-sm {
          flex-direction: column;

          margin-bottom: 20px;
        }
      }

      &-title {
        font-size: 1.8rem;
        line-height: 1.33;
        color: $color-secondary-gamma;

        max-width: 33rem;
        width: 100%;

        @include media-tablet-sm {
          max-width: unset;
          text-align: center;
        }
      }

      &-img {
        margin-right: 2rem;

        object-fit: contain;
        max-width: 80px;

        @include media-tablet-sm {
          margin-bottom: 15px;
          margin-right: 0;
        }
      }
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2rem;

    &-sum {
      font-weight: 500;
      font-size: 2.5rem;
    }
  }

  &__descrip {
    font-size: 1.8rem;
    line-height: 1.4;

    padding: 2rem;
    margin-bottom: 3rem;

    border: 1px solid #a2a2a2;
    border-radius: 4px;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-tablet-sm {
      flex-direction: column;
      align-items: unset;
    }

    &-control {
      position: relative;

      flex: 1;

      margin-right: 2rem;

      @include media-tablet-sm {
        margin-right: 0;

        margin-bottom: 20px;
      }

      &.success {
        .cart__form-input {
          border-color: $color-primary-beta;
        }
      }

      &.error {
        .cart__form-error {
          visibility: visible;
        }

        .cart__form-input {
          border-color: $color-secondary-beta;
        }
      }
    }

    &-error {
      position: absolute;
      top: -19px;
      left: 0;

      font-size: 14px;

      color: $color-secondary-beta;

      visibility: hidden;

      @include media-tablet-sm {
        top: -16px;

        font-size: 12px;
      }
    }

    &-input {
      padding: 1.4rem 2rem;

      width: 100%;

      border: 1px solid #a2a2a2;
      border-radius: 4px;
    }

    &-submit {
      text-transform: uppercase;
      color: $color-primary-psi;
      letter-spacing: 1px;

      padding: 0 4.2rem;
      align-self: stretch;

      background-color: $color-primary-alpha;

      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 4px;

      transition: background-color 0.1s linear;

      &:hover {
        background-color: lighten($color-primary-alpha, 7);
      }

      @include media-tablet-sm {
        min-height: 4.8rem;
      }
    }
  }

  &__button-close {
    position: absolute;
    top: 5px;
    right: 0;

    &-icon {
      height: 20px;
      width: 20px;

      stroke: $color-secondary-alpha;

      transition: stroke 0.1s linear;

      &:hover {
        stroke: $color-primary-beta;
      }
    }
  }
}
