.product-counter {
  display: flex;
  align-items: center;

  margin-bottom: 5.6rem;

  @include media-tablet-lg {
    margin-bottom: 25px;
    flex-direction: column;
  }

  &__group {
    display: flex;
    align-items: center;

    margin-right: 4.2rem;

    @include media-tablet-lg {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__control,
  &__count {
    font-size: 2rem;
    color: $color-tertiary-psi;
  }

  &__control {
    border: 1px solid $color-tertiary-psi;
    border-radius: 50px;

    min-height: 45px;
    min-width: 45px;

    @include media-tablet-lg {
      min-height: 35px;
      min-width: 35px;
    }
  }

  &__control:not([disabled]) {
    @include hover-control-button;
  }

  &__control[disabled] {
    color: $color-primary-omega;
    border-color: $color-primary-omega;
  }

  &__count {
    text-align: center;
    max-width: 40px;
    width: 100%;
  }

  &__price {
    font-size: 3rem;
    min-width: 140px;
    text-align: end;

    @include media-tablet-lg {
      font-size: 25px;
    }
  }
}
