.about {
  margin: 10rem 0;

  @include media-tablet-lg {
    margin: 50px 0;
  }
}

.about__inner {
  display: flex;
  justify-content: space-between;

  @include media-tablet-lg {
    flex-direction: column;
  }
}

.about__info-title,
.about__features-title {
  font-size: 3rem;
}

.about__info-title {
  margin-bottom: 3rem;
}

.about__features-title {
  margin-bottom: 1.9rem;
}

.about__info {
  max-width: 86rem;
  width: 100%;

  @include media-laptop {
    max-width: 75rem;
  }

  @include media-tablet-lg {
    max-width: unset;
    margin-bottom: 30px;
  }
}

.about__txt {
  margin-bottom: 3rem;

  p {
    font-size: 2rem;
    line-height: 1.6;

    &:not(:last-child) {
      margin-bottom: 5rem;

      @include media-tablet-lg {
        margin-bottom: 20px;
      }
    }
  }
}

.about__img {
  border-radius: 4px;
  max-width: 86rem;
  width: 100%;

  @include media-tablet-lg {
    max-width: 600px;

    margin: 0 auto;
  }
}

.about__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 2rem;

  background-color: $color-primary-psi;
  border: 1px solid $color-tertiary-alpha;
  border-radius: 4px;
  box-shadow: 0px 5px 8px rgba(82, 82, 82, 0.07);

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &-icon {
    width: 30px;
    height: 30px;

    margin-bottom: 10px;
  }

  &-title {
    margin-bottom: 10px;

    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 1px;
  }

  &-number {
    font-weight: 500;
    font-size: 2rem;

    &--sale {
      color: $color-primary-beta;
    }

    &--positive {
      color: $color-tertiary-gamma;
    }

    &--negative {
      color: $color-secondary-beta;
    }
  }
}
