extends common/layout

block title
  title Каталог

include includes/catalog/mixins

block content
  main
    section.catalog
      .container
        .catalog__inner
          form#filters-catalog.catalog__filters(action="#" method="GET")
            .catalog__filters-wrapper
              .catalog__filters-group
                .catalog__filters-top
                  button#filters-close.catalog__filters-close(aria-label="Закрыть")
                    +icon('catalog__filters-close-icon', 'close')
                  h2.catalog__filters-title Категории
                  ul.catalog__filters-links
                    li: a(href="#") Антивирусы
                    li: a(href="#") Офисные программы
                    li: a(href="#") ОС
                    li: a(href="#") Работа с текстом
                    li: a(href="#") Работа с файлами
                    li: a(href="#") Графика и дизайн
                    li: a(href="#") Образование и наука
              .catalog__filters-group
                h2.catalog__filters-title Срок ключа
                #filters-slider.catalog__filters-slider
                +catalogFilters('Производитель', [
                  {value: 'adobe', txt: 'Adobe'},
                  {value: 'microsoft', txt: 'Microsoft'}
                ])
                button#filters-reset.catalog__filters-reset(type="reset") Сбросить фильтры:&nbsp;
                  span#filters-reset-count.catalog__filters-reset-count 0
          .catalog__content
            .catalog__content-top
              h2.catalog__content-title Каталог
              button#filters-burger.catalog__content-button(aria-label="Фильтры")
                +icon('catalog__content-button-icon', 'filter')
            form.catalog__sort(action="#" method="GET")
              select
                option(value="popular" selected) По популярности
                option(value="price-asc") По цене (возр.)
                option(value="price-desc") По цене (убыв.)
            .catalog__items
              +productCard('#', 'pdd/pdd-2.png', '13.5 BYN', 'ФотоВИНТАЖ 3.0')
              +productCard('#', 'photovint/photovint-1.png', '27.73 BYN', 'Kaspersky Total Security')
              +productCard('#', 'pdfcommander/pdfcommander-1.png', '33.5 BYN', 'PDF Commander 2.0')
              +productCard('#', 'pdd/pdd-2.png', '13.5 BYN', 'ФотоВИНТАЖ 3.0')
              +productCard('#', 'photovint/photovint-1.png', '27.73 BYN', 'Kaspersky Total Security')
              +productCard('#', 'pdfcommander/pdfcommander-1.png', '33.5 BYN', 'PDF Commander 2.0')
              +productCard('#', 'pdd/pdd-2.png', '13.5 BYN', 'ФотоВИНТАЖ 3.0')
              +productCard('#', 'photovint/photovint-1.png', '27.73 BYN', 'Kaspersky Total Security')

    //Contacts
    +sectionContacts
