extends common/layout

block content
  main
    //FAQ
    section.faq
      .container
        .faq__inner
          .faq__content
            h2.faq__content-title Популярные вопросы
            +filters([
              'О магазине',
              'Обязательства',
              'Совершённые покупки',
              'Разное'
            ])
            +accordion([
              {
                question: 'Какие гарантии вы предоставляете?',
                answer: ['Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, eum fugit obcaecati ipsum recusandae error neque maxime modi velit, inventore unde magnam magni eligendi eaque necessitatibus accusamus alias aperiam dignissimos.', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, eum fugit obcaecati ipsum.']
              },
              {
                question: 'Вы онлайн-магазин?',
                answer: ['Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, eum fugit obcaecati ipsum recusandae error neque maxime modi velit, inventore unde magnam magni eligendi eaque necessitatibus accusamus alias aperiam dignissimos.']
              },
              {
                question: 'После оплаты не приходит ключ активации',
                answer: ['Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, eum fugit obcaecati ipsum recusandae error neque maxime modi velit, inventore unde magnam magni eligendi eaque necessitatibus accusamus alias aperiam dignissimos.']
              },
              {
                question: 'Как обновить программу, если давно её не запускал',
                answer: ['Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, eum fugit obcaecati ipsum recusandae error neque maxime modi velit, inventore unde magnam magni eligendi eaque necessitatibus accusamus alias aperiam dignissimos.']
              },
              {
                question: 'Как обновить программу, если давно её не запускал',
                answer: ['Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, eum fugit obcaecati ipsum recusandae error neque maxime modi velit, inventore unde magnam magni eligendi eaque necessitatibus accusamus alias aperiam dignissimos.']
              },
              {
                question: 'Какие гарантии вы предоставляете?',
                answer: ['Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, eum fugit obcaecati ipsum recusandae error neque maxime modi velit, inventore unde magnam magni eligendi eaque necessitatibus accusamus alias aperiam dignissimos.']
              },
              {
                question: 'Вы онлайн-магазин?',
                answer: ['Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, eum fugit obcaecati ipsum recusandae error neque maxime modi velit, inventore unde magnam magni eligendi eaque necessitatibus accusamus alias aperiam dignissimos.']
              },
              {
                question: 'После оплаты не приходит ключ активации',
                answer: ['Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, eum fugit obcaecati ipsum recusandae error neque maxime modi velit, inventore unde magnam magni eligendi eaque necessitatibus accusamus alias aperiam dignissimos.']
              },
              {
                question: 'Как обновить программу, если давно её не запускал',
                answer: ['Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, eum fugit obcaecati ipsum recusandae error neque maxime modi velit, inventore unde magnam magni eligendi eaque necessitatibus accusamus alias aperiam dignissimos.']
              },
              {
                question: 'Как обновить программу, если давно её не запускал',
                answer: ['Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, eum fugit obcaecati ipsum recusandae error neque maxime modi velit, inventore unde magnam magni eligendi eaque necessitatibus accusamus alias aperiam dignissimos.']
              }
            ])
          +faqDescrip

    //Contacts
    +sectionContacts
