extends common/layout

block content
  main
    .container
      .page-404
        h1.page-404__title Упс! Что-то пошло не так
        img.page-404__img(src="images/common/404.png", alt="Страница не существует")
        +linkButton('#', 'На главную')
