.process {
  margin-bottom: 10rem;
}

.process__title {
  @include title-section;
}

.process__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.process__content {
  max-width: 64rem;
}

.process__item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 4rem;
  }

  &-number {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3rem;

    width: 8rem;
    height: 8rem;

    padding: 2.4rem;
    margin-right: 3rem;

    border: 1px solid $color-primary-alpha;
    border-radius: 50%;
  }

  &-title {
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;

    margin-bottom: 2rem;
  }

  &-txt {
    font-size: 16px;
    line-height: 1.75;
    color: $color-primary-gamma;
  }
}

.process__img {
}
