.products {
  margin-bottom: 14rem;

  @include media-tablet-lg {
    margin-bottom: 60px;
  }
}

.products__title {
  @include title-section;

  font-size: 4rem;
}

.products__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 6rem;

  @include media-tablet-lg {
    margin-bottom: 20px;
  }
}

.products__item {
  position: relative;

  @include hover-product-card;

  width: 32.3%;

  margin-bottom: 2rem;

  overflow: hidden;

  background-color: $color-primary-psi;
  border: 1px solid $color-tertiary-alpha;
  box-shadow: 0px 5px 8px rgba(82, 82, 82, 0.07);
  border-radius: 4px;

  padding: 6.3rem 3rem 3rem 3rem;

  &:focus-within {
    @include outline;
  }

  &:nth-child(-n + 2) {
    width: 49.3%;

    @include media-smartphone-lg {
      width: 100%;
    }
  }

  @include media-tablet-sm {
    width: 49.3%;

    padding: 25px 15px 15px 15px;

    margin-bottom: 10px;
  }

  @include media-smartphone-lg {
    width: 100%;
  }

  &--new,
  &--sale {
    padding-top: 3rem;

    .products__item-img {
      max-height: 40rem;
      min-height: 40rem;

      @include media-tablet-lg {
        max-height: 25rem;
        min-height: 25rem;
      }
    }

    .products__item-title {
      max-width: 22vw;

      @include media-tablet-lg {
        max-width: unset;
      }
    }
  }

  &--new {
    .products__item-mark {
      display: block;

      background-color: $color-primary-beta;
    }

    .products__item-price {
      &-usual {
        color: $color-primary-beta;
      }
    }
  }

  &--sale {
    .products__item-mark {
      display: block;

      background-color: $color-secondary-beta;
    }

    .products__item-price {
      &-sale {
        display: block;

        color: $color-secondary-beta;
        margin-right: 10px;
      }

      &-usual {
        text-decoration: line-through;
        color: $color-tertiary-beta;
      }
    }
  }

  &-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-mark {
    display: none;

    padding: 11px 10px;
    text-transform: uppercase;
    color: $color-primary-psi;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.5px;
    border-radius: 4px;

    margin-bottom: 3.8rem;

    width: fit-content;

    @include media-tablet-sm {
      margin-bottom: 20px;
    }
  }

  &-img {
    margin: 0 auto 6.3rem;

    object-fit: contain;

    max-height: 25rem;
    min-height: 25rem;
    height: 100%;

    @include media-tablet-lg {
      margin: 0 auto 20px;
    }
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-tablet-lg {
      flex-direction: column;
      align-items: unset;
    }
  }

  &-title {
    font-size: 2rem;
    color: $color-secondary-gamma;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 14vw;

    margin-right: 30px;

    @include media-tablet-lg {
      order: 1;

      white-space: normal;
      overflow: visible;
      max-width: unset;
      text-overflow: unset;

      margin-right: 0;
    }
  }

  &-price {
    display: flex;

    font-weight: 500;
    white-space: nowrap;
    font-size: 1.8rem;

    @include media-tablet-lg {
      margin-bottom: 10px;
    }

    &-usual {
      color: $color-secondary-gamma;
    }

    &-sale {
      display: none;
    }
  }
}
