.reviews {
  position: relative;

  margin-bottom: 10rem;

  @include media-tablet-lg {
    margin-bottom: 50px;
  }
}

.reviews__title {
  @include title-section;
}

.reviews__item {
  position: relative;

  width: 30.5%;

  @include media-laptop {
    width: 32%;
  }

  &::before {
    content: '“';
    display: block;

    font-size: 10rem;
    color: $color-primary-beta;

    height: 25px;

    margin-bottom: 4rem;
  }

  &-txt {
    font-size: 2rem;
    line-height: 1.6;

    margin-bottom: 3rem;

    @include media-laptop {
      font-size: 16px;
    }
  }

  &-author {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    font-size: 1.8rem;
    color: $color-secondary-alpha;
    line-height: 1.78;
    font-weight: 500;

    @include media-laptop {
      font-size: 14px;
    }

    p:first-child {
      &::after {
        display: inline-block;
        content: '';
        margin: 0 6px 2px;

        width: 6px;
        height: 6px;

        background-color: $color-secondary-alpha;
        border-radius: 50%;

        @include media-laptop {
          width: 4px;
          height: 4px;
        }
      }
    }
  }
}
