.filters {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 2rem;

  @include media-tablet-sm {
    overflow-x: scroll;

    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }

    scrollbar-width: none;

    flex-wrap: nowrap;

    margin-bottom: 0;
  }

  &__item {
    white-space: nowrap;
    margin-bottom: 10px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__button {
    text-transform: uppercase;
    color: $color-secondary-gamma;

    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.5px;

    padding: 11px 15px;

    box-shadow: 0px 5px 8px rgba(82, 82, 82, 0.05);
    border-radius: 4px;
    border: 1px solid $color-primary-omega;

    transition: color 0.08s linear, background-color 0.08s linear,
      border-color 0.08s linear;

    &:hover,
    &.active {
      background-color: $color-secondary-gamma;
      color: $color-primary-psi;
      border-color: $color-primary-alpha;
    }
  }
}
