.swiper-slide {
  height: auto;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -17px;
  left: 0;
  width: 100%;
}

.swiper-pagination {
  display: none;

  &-bullet {
    height: 8px;
    width: 8px;

    border: 1px solid $color-tertiary-beta;
    background-color: transparent;

    &-active {
      background-color: $color-primary-beta;
      border: 0;
    }
  }

  @include media-tablet-lg {
    display: block;
  }
}
